:root{
	--cream: #FFFFE8;
	--green: #8CFFDA;
	--purple: #8447FF;
	--font: 'Miniver', cursive;
}
.wrapper{
	background-color: var(--cream);
	padding: 2rem;
	width: 50%;
	border: 2px solid var(--green);
	
}
body{
	margin: 1rem;
	display: flex;
	justify-content: center;
	font-size: 18px;
	font-family: var(--font);
	background-color: var(--green);
	color: black;
}
p:first-of-type{
	color: var(--purple);
	font-size: 2rem;
	padding: 1rem 0 0 0;
	width: 50%;
	
}
p:last-of-type{
	border-bottom: 2px solid var(--purple);
}
p{
	margin: 0;
}
.toDo,
.needs{
	background-color: var(--darkGreen);
	border: 3px dotted var(--green);
}
.wrapper div{
	padding: 1rem;
	margin: 1rem;
}
ul{
	list-style-image: url(https://img.icons8.com/fluency-systems-regular/20/000000/xbox-x.png);
	list-style-position: outside;
	cursor:pointer;
	display: flex;
	flex-direction: column;
	align-content: center;
}
li{
	margin: .5rem;
}

li:hover{
	color: red;
	margin-left: 10px;
}
button{
	display: inline-block;
	float: right;
	border: none;
	background-color: var(--purple);
	color: var(--cream);
	font-family: var(--font);
	height: 2rem;
	width: 4rem;
	position: relative;
	bottom: 1rem;
}

button:hover{
	background-color: black;
}
